body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    background-image: url("../images/background/bg-fluid.svg");
    background-size: cover; /* Ajuste l'image pour couvrir toute la page */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite la répétition */
    background-attachment: fixed; /* Fixe l'image pour qu'elle ne défile pas */
}

.container {
    max-width: 800px;
    margin-top: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.table {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    margin-right: 10px;
}

.btn {
    border-radius: 5px;
}








footer {
    margin-top: 40px;
}



/* ---- Effet carte floue ---- */
.card-container {
    background: rgba(255, 255, 255, 0.2); /* Fond semi-transparent */
    backdrop-filter: blur(10px); /* Effet de flou */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    margin: 20px auto;
}
